.b-card {
    background-color: #333;
    color: #fff;
}
.project-card {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    overflow: hidden;
    /* animation: fadeIn 6s 1;
    transition: 0.5s; */
}
.project-card img {
    width: 100%;
    height: auto;
}
.project-card .card-body {
    padding: 15px;
}
.c-gray {
    color: #9e9e9e !important;
    font-size: medium;
}
.a-none{
    text-decoration: none;
}
.box-dot{
    width: 100%;
    text-align: center;
}
.dot{
    color: rgb(37, 215, 221);
    font-size: 80px;
    margin-top: -45px;
}
.card-h2{
    margin: 20px 20px 10px;
    font-size: 24px;
    font-weight: bold;
    border: solid 1px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}
.project-card:hover {
    box-shadow: 0 0 50px #ffffffc4;
    transition: 0.5s;
    transform: scale(1.05);
}
.a-none:hover {
    text-decoration: none;
    color: white !important;
    background-color: #333;
    border: 1px solid #000;
    border-radius: 8px;
    transition: 0.5s;
    padding: 5px 10px 2px;
}
/* @keyframes fadeIn {
    from {
        opacity: 0;
        margin-bottom: -700px;
    }
    to {
        opacity: 1;
        margin: 0;
    }
} */