.all{
    padding: 70px;
    background-color: rgb(235 235 235 / 1);
}
.head{
    justify-content: center;
}
.cart-head-2{

    margin: 20px auto 18px;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    border: solid 1px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}
.cart-head-1{
    color: rgb(37, 215, 221);
    font-size: 80px;
    margin-top: -50px;
    margin-left: 438px;
}
.cart-head-3{
    color: rgb(37, 215, 221);
    font-size: 80px;
    margin-top: -50px;
    margin-right: 438px;
}
.cart-head{
    width: 845px;
    border: 8px solid #f5f5f5eb;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 50px;
    background-color: white;
}
.cart-icon ,.cart-icon-1 ,.cart-icon-2 {
    color: rgb(37, 215, 221);
    font-size: 30px;
}
.cart-icon-1{
    color: rgb(243, 12, 120);
}
.footer{
    background-color:rgb(37, 215, 221) ;
    text-align: center;
}
.footer-text{
    color: rgb(243, 12, 120);
}
.cart-1{
    display: flex;
    width: 720px;
}
@media (max-width: 500px) {
   .cart{
    display: flex;
    flex-direction: column;
   }
   .cart-head{
    width: 306px;
    margin-left: 4px;
} 
    .head{
    margin-left: 140px;
    width: 20px;
    gap: 20px;
    } 
    .cart-1{
        display: flex;
        flex-direction: column; 
    }
}
@media (min-width: 501px) and (max-width: 880px) {
    .cart-1{
        display: flex;
        gap: 100px;
        width: 420px;
    }
    .cart-head{
        width:  -webkit-fill-available;
        margin-left: -63px;
        margin-right: 25px;
    }
    .cart{
        display: flex;
        flex-direction: column;
    }
    .head{
        margin-left: 140px;
        width: 20px;
        gap: 20px;
    }
}