.all{
    padding: 70px;
    background-color: rgb(235 235 235 / 1);
}
.head{
    justify-content: center;
    gap: 20px;
}
.cart-head-2{
    border: 2px solid #9b9a9a ;
    border-radius: 15px;
    padding: 10px 10px 0;
    background-color: white;
    margin-bottom: 9px;
}
.cart-head-1{
    color: rgb(37, 215, 221);
    font-size: 100px;
    margin-top: -90px;
}
.cart-head{
    width: 845px;
    border: 8px solid #f5f5f5eb;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 50px;
    background-color: white;
}
.cart-icon ,.cart-icon-1 ,.cart-icon-2 {
    color: rgb(37, 215, 221);
    font-size: 30px;
}
.cart-icon-1{
    color: rgb(243, 12, 120);
}
.footer{
    background-color:rgb(37, 215, 221) ;
    text-align: center;
}
.footer-text{
    color: rgb(243, 12, 120);
}